.btn-outline-success {
    @extend %gradient-color;
    color: #fff;
    border: none;
    outline: none;
}
.change-theme-button {
    border: none;
    outline: none;
    background-color: transparent;
    right: 12px;
    top: 18px;
    i {
        color: var(--mainTextColor);
        font-size: 21px;
    }
}
.sidebar .profile_change-theme {
    background-color: var(--mainBgColor);
    height: 50px;
    span {
        color: var(--light-gray);
        font-weight: 600;
    }
}
.sidebar.close .profile_change-theme {
    background-color: transparent;
}
.btn,
.btn:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
