.registration {
    .form-container {
        min-height: calc(100vh - 64px);
        background: linear-gradient(0deg, rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),
            url(../../assets/landing.jpg) no-repeat;
        background-size: cover;
        background-position: bottom;

        .form {
            border-image: linear-gradient(to right, #43b8fe, #e684ae) 30;

            box-shadow: radial-gradient(at 50% 0, black, transparent 70%),
                linear-gradient(0deg, black, transparent 50%) bottom;
            box-shadow: 0 0 6px 1px #43b8fe, 0 0 7px 2px #e684ae;
            box-shadow: 0 0 2px 2px #e684ae, 0 0 3px 2px #43b8fe;
            background: transparent;
        }
    }
    .controls a {
        text-align: center;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    .controls a.active,
    .controls a {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    .controls a.active,
    .controls a:hover {
        background: linear-gradient(to right, #e684ae, #e684ae);
    }
    .controls a {
        border-top: 4px solid #e684ae !important;
    }

    &__input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #e684ae;
        color: white;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        padding: 0;
    }
    .form-group {
        margin-bottom: 2rem;
    }
    .form-control:focus {
        background-color: transparent;
        color: white;
    }

    button[type="submit"] {
        background: #e684ae;
    }
    button[type="submit"]:hover {
        background: #e684ae;
    }

    input:focus ~ label,
    input:not([value=""]) ~ label {
        margin-bottom: 1.5rem;
        font-size: 13px;
        transition: 0.5s;
        color: white !important;
    }
}
