/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/*variables*/
/*coolors*/
:root {
  --mainBgColor: #fff;
  --secondaryBgColor: #f9f9f9;
  --mainTextColor: #43b8fe;
  --gradient-1: #43b8fe;
  --gradient-2: #e684ae;
  --secondaryTextColor: #a7a6a7;
  --light-gray: #807878ee;
  --overlayBg: rgb(0 0 0/50%);
  --rate: #ebe8e8;
  --text-color: #222;
  --transperentMainBgColor: #ffffffa1;
  --borderColor: #dfdfdf;
  --accepted: green;
  --pending: #868682;
  --rejected: red;
  --hrColor: initial;
  --green:#4caf50;
}

.dark-theme {
  --mainBgColor: #18191a;
  --secondaryBgColor: #242526;
  --mainTextColor: #fff;
  --secondaryTextColor: #868e8d;
  --light-gray: #ccc;
  --overlayBg: rgb(0 0 0/80%);
  --rate: #3c3a3a;
  --text-color: #fff;
  --transperentMainBgColor: #18191a4d;
  --borderColor: #444141;
  --accepted: #33c633;
  --pending: #a5a5a2;
  --rejected: #ff6060;
  --hrColor: #ffe5e5;
  --green: #33c633;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: var(--mainBgColor);
}

.form-control:focus {
  border-color: var(--mainTextColor);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

p {
  font-size: 15px;
}

img {
  cursor: pointer;
}

ul li {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--gradient-1);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.5;
}

h1 {
  font-size: 42px;
}

nav a,
nav i.nav-link a {
  color: var(--gradient-1);
  cursor: pointer;
}

nav a:hover,
nav i.nav-link a:hover {
  color: var(--gradient-1);
}

.nav-item a {
  color: var(--mainTextColor);
  cursor: pointer;
}

.nav-item a:hover {
  color: var(--mainTextColor);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--mainTextColor);
}

.navbar-toggler-icon {
  color: var(--mainTextColor) !important;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--mainBgColor);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--gradient-1), var(--gradient-2));
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.sideBarParent .sideBar .btn-toggle[aria-expanded=true] i, .sideBarParent .sideBar a:hover {
  background: linear-gradient(var(--gradient-1), var(--gradient-2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-outline-success {
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
}

p {
  line-height: 1.5;
}

.btn-outline-success {
  color: #fff;
  border: none;
  outline: none;
}

.change-theme-button {
  border: none;
  outline: none;
  background-color: transparent;
  right: 12px;
  top: 18px;
}
.change-theme-button i {
  color: var(--mainTextColor);
  font-size: 21px;
}

.sidebar .profile_change-theme {
  background-color: var(--mainBgColor);
  height: 50px;
}
.sidebar .profile_change-theme span {
  color: var(--light-gray);
  font-weight: 600;
}

.sidebar.close .profile_change-theme {
  background-color: transparent;
}

.btn,
.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar {
  background-color: var(--mainBgColor);
  width: 100%;
  z-index: 11111;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  position: relative;
}
.navbar::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
}
.navbar-toggler {
  line-height: unset;
}
.navbar .signIn {
  color: var(--gradient-2);
}
.navbar .addArticle {
  font-weight: 400;
  color: var(--gradient-2);
}
.navbar .addArticle:hover {
  color: var(--gradient-2);
}
.navbar .dropdown-toggle {
  color: var(--gradient-2);
}
.navbar .dropdown-toggle:hover {
  color: var(--gradient-2);
}
.navbar .dropdown-menu {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: var(--secondaryBgColor);
  top: 45px;
  border: none;
}
.navbar .dropdown-menu li a {
  color: var(--secondaryTextColor);
}
.navbar .dropdown-menu li a:hover {
  color: var(--light-gray);
  background-color: transparent !important;
}
.navbar .dropdown-item {
  margin-bottom: 0.5rem;
}

.profle__nav {
  z-index: 300;
  width: 100%;
  position: relative;
}
.profle__nav .profile-information .profile-img {
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profle__nav .profile-information span {
  color: var(--light-gray);
  font-weight: 500;
}

.search {
  margin: auto;
  color: var(--mainTextColor);
  width: 100%;
  position: relative;
  z-index: 99;
  text-align: center;
}
.search h1 {
  color: #fff;
}
.search h3 {
  font-size: 27px;
  font-weight: 600;
  color: #df86b2;
}
.search button {
  border: none;
  outline: none;
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  color: #fff;
  position: absolute;
  right: -31px;
  top: 50%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.sideBarParent {
  position: relative;
  background-color: var(--secondaryBgColor);
  height: calc(100vh - 56px);
  z-index: 1111;
  position: fixed;
  width: 300px;
  max-width: 100%;
  top: 56px;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sideBarParent .openDashbord {
  display: none;
  width: 30px;
  height: 30px;
  color: #fff;
  position: fixed;
  z-index: 101;
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  top: 4px;
  right: -30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.sideBarParent .openDashbord i {
  color: #fff;
}
.sideBarParent .sideBar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.sideBarParent .sideBar a {
  color: var(--mainTextColor);
  text-transform: capitalize;
  width: 100%;
  text-align: left;
  padding-left: 0.5rem;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}
.sideBarParent .sideBar .btn-toggle-nav li {
  line-height: 3;
}
.sideBarParent .sideBar .link-dark.rounded {
  color: var(--secondaryTextColor);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.sideBarParent .sideBar .link-dark.rounded:hover {
  background: var(--light-gray);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sideBarParent .sideBar .content {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.sideBarParent .sideBar .content:hover {
  background: var(--mainTextColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sideBarParent .sideBar .btn-toggle i {
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  -webkit-transition: transform 0.35s ease;
  -moz-transition: transform 0.35s ease;
  -ms-transition: transform 0.35s ease;
  -o-transition: transform 0.35s ease;
  background: var(--mainTextColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sideBarParent .sideBar .btn-toggle[aria-expanded=true] i {
  transform: rotate(90deg);
}

.searchResult {
  position: absolute;
  right: 0;
  top: 64px;
  min-height: 100vh;
  width: calc(100% - 300px);
  color: var(--mainTextColor);
  z-index: 99;
}
.searchResult h2.error {
  -webkit-text-fill-color: #eb3a4b;
}

@media (max-width: 991px) {
  .landing .landing__content,
.landing .searchResult {
    position: relative;
    width: 100%;
    z-index: 99;
  }
  .sideBarParent {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .sideBarParent.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .sideBarParent .openDashbord {
    display: flex;
  }
  .searchResult li {
    width: 95%;
  }
}
@media (min-width: 992px) {
  .navbar form {
    flex-basis: 60%;
  }
  .profile__rate table {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 765px) {
  .searchResult h2 {
    width: 100% !important;
    padding-left: 20px;
  }
  /*profile*/
  .profile {
    width: 100%;
    left: 0;
    padding-bottom: 90px !important;
  }
  .profile__pic {
    width: 120px;
    height: 120px;
  }
  .profile__pic img {
    width: 120px;
  }
  .sidebar.close ~ .profile {
    width: 100%;
    left: 0;
  }
  #btn {
    display: none;
  }
  .sidebar {
    height: 74px;
    background: var(--secondaryBgColor);
    transform: unset;
    top: unset;
    bottom: 0;
    left: 50%;
    width: 95%;
    max-width: 100%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1000;
  }
  .sidebar__menu {
    flex-direction: row;
    justify-content: unset;
  }
  .sidebar__list {
    margin-top: unset;
    margin-bottom: 0;
    display: flex;
  }
  .sidebar__list li:not(:first-of-type) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    line-height: unset;
    display: initial;
    margin-top: unset;
  }
  .sidebar__list li {
    height: 50px;
  }
  .sidebar__list li a span {
    display: none;
  }
  .sidebar__list li i {
    width: 50px;
    height: 50px;
    line-height: unset;
    min-width: unset;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar__list form {
    display: none !important;
  }
  .sidebar__bottom {
    flex-direction: row !important;
  }
  .sidebar__bottom a span,
.sidebar__bottom button span {
    display: none;
  }
  .sidebar__bottom .profile_change-theme {
    background-color: transparent;
  }
  .sidebar__bottom .profile_change-theme i {
    width: 50px;
  }
}
@media screen and (max-width: 500px) {
  .newArticle-form {
    overflow-y: auto;
  }
}
@media (min-width: 351px) and (max-width: 520px) {
  .search h1 {
    font-size: 35px;
  }
  .search h3 {
    font-size: 24px;
  }
}
@media (max-width: 350px) {
  .search h1 {
    font-size: 30px;
  }
  .search h3 {
    font-size: 22px;
  }
}/*# sourceMappingURL=searchResultpr.css.map */