/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/*variables*/
/*coolors*/
:root {
  --mainBgColor: #fff;
  --secondaryBgColor: #f9f9f9;
  --mainTextColor: #43b8fe;
  --gradient-1: #43b8fe;
  --gradient-2: #e684ae;
  --secondaryTextColor: #a7a6a7;
  --light-gray: #807878ee;
  --overlayBg: rgb(0 0 0/50%);
  --rate: #ebe8e8;
}

.dark-theme {
  --mainBgColor: #121212;
  --secondaryBgColor: #1a1919;
  --mainTextColor: #fff;
  --secondaryTextColor: #485452;
  --light-gray: #979597;
  --overlayBg: rgb(0 0 0/80%);
  --rate: #3c3a3a;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: var(--mainBgColor);
}

.form-control:focus {
  border-color: var(--mainTextColor);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

p {
  font-size: 15px;
}

img {
  cursor: pointer;
}

ul li {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--mainTextColor);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.5;
}

h1 {
  font-size: 42px;
}

nav a,
nav i.nav-link a {
  color: var(--mainTextColor);
}

nav a:hover,
nav i.nav-link a:hover {
  color: var(--mainTextColor);
}

.nav-item a {
  color: var(--mainTextColor);
}

.nav-item a:hover {
  color: var(--mainTextColor);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--mainTextColor);
}

.navbar-toggler-icon {
  color: var(--mainTextColor) !important;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--mainBgColor);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--gradient-1), var(--gradient-2));
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.sideBarParent .sideBar .btn-toggle[aria-expanded=true] i, .sideBarParent .sideBar a:hover, .articleContainer .article__bottom > h5 span, .articleContainer .article__bottom > h5, .articleContainer h2 {
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input:focus {
  box-shadow: none !important;
}

p {
  line-height: 1.5;
}

.btn-outline-success {
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  color: #fff;
  border: none;
  outline: none;
}

.change-theme-button {
  border: none;
  outline: none;
  background-color: transparent;
}
.change-theme-button i {
  color: var(--mainTextColor);
  font-size: 21px;
}

.btn,
.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* start top artice*/
.articleContainer {
  position: absolute;
  right: 0;
  background: var(--mainBgColor);
  width: calc(100% - 300px);
}
@media (max-width: 991px) {
  .articleContainer {
    position: relative;
    width: 100%;
  }
}
.articleContainer .article {
  background: var(--secondaryBgColor);
  width: 95%;
  margin: auto;
}
.articleContainer .article h4 {
  color: var(--mainTextColor);
}
.articleContainer .article a {
  color: var(--secondaryTextColor);
}
.articleContainer .article__description {
  color: var(--light-gray);
}
.articleContainer .article__bottom > h5 {
  font-weight: 600;
  font-size: 15px;
}
.articleContainer .article__bottom > h5 span {
  font-size: 13px;
}
.articleContainer .article__bottom .percent {
  position: relative;
  width: 60px;
  height: 60px;
}
.articleContainer .article__bottom .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: rotate(calc(3.6deg * var(--num)));
  -webkit-transform: rotate(calc(3.6deg * var(--num)));
  -moz-transform: rotate(calc(3.6deg * var(--num)));
  -ms-transform: rotate(calc(3.6deg * var(--num)));
  -o-transform: rotate(calc(3.6deg * var(--num)));
}
.articleContainer .article__bottom .percent .dot::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--gradient-2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 10px var(--gradient-2);
}
.articleContainer .article__bottom .percent svg {
  position: relative;
  width: 60px;
  height: 60px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.articleContainer .article__bottom .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: var(--rate);
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
}
.articleContainer .article__bottom .percent svg circle:nth-child(2) {
  stroke: var(--gradient-2);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  stroke-dasharray: 156;
  stroke-dashoffset: calc(156 - 156 * var(--num) / 100);
}
.articleContainer .article__bottom .percent .number {
  position: absolute;
  inset: 0;
}
.articleContainer .article__bottom .percent .number P {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  color: var(--mainTextColor);
}

/* end top artice*/
.navbar {
  background-color: var(--mainBgColor);
  width: 100%;
  z-index: 11111;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}
.navbar .signIn {
  color: var(--gradient-2);
}

/* ========= Start landing ========= */
.landing {
  height: 100vh;
}
.landing__content {
  height: 100vh;
  width: calc(100% - 300px);
  right: 0;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: bottom;
  background: linear-gradient(0deg, var(--overlayBg), var(--overlayBg)), url(../../assets/landing.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* ========= end landing ========= */
.search {
  margin: auto;
  color: var(--mainTextColor);
  width: 100%;
  position: relative;
  z-index: 99;
  text-align: center;
}
.search h1 {
  color: #fff;
}
.search h3 {
  font-size: 27px;
  font-weight: 600;
  color: #df86b2;
}
.search button {
  border: none;
  outline: none;
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  color: #fff;
  position: absolute;
  right: -31px;
  top: 50%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.sideBarParent {
  position: relative;
  background-color: var(--secondaryBgColor);
  height: calc(100vh - 56px);
  z-index: 1111;
  position: fixed;
  width: 300px;
  max-width: 100%;
  top: 56px;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sideBarParent .openDashbord {
  display: none;
  width: 30px;
  height: 30px;
  color: #fff;
  position: fixed;
  z-index: 101;
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  top: 4px;
  right: -30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.sideBarParent .openDashbord i {
  color: #fff;
}
.sideBarParent .sideBar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.sideBarParent .sideBar a {
  color: var(--mainTextColor);
  text-transform: capitalize;
  width: 100%;
  text-align: left;
  padding-left: 0.5rem;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}
.sideBarParent .sideBar .btn-toggle-nav li {
  line-height: 3;
}
.sideBarParent .sideBar .link-dark.rounded {
  color: var(--secondaryTextColor);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.sideBarParent .sideBar .link-dark.rounded:hover {
  background: var(--light-gray);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sideBarParent .sideBar .content {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.sideBarParent .sideBar .content:hover {
  background: var(--mainTextColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sideBarParent .sideBar .btn-toggle i {
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  -webkit-transition: transform 0.35s ease;
  -moz-transition: transform 0.35s ease;
  -ms-transition: transform 0.35s ease;
  -o-transition: transform 0.35s ease;
  background: var(--mainTextColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sideBarParent .sideBar .btn-toggle[aria-expanded=true] i {
  transform: rotate(90deg);
}

.searchResult {
  position: absolute;
  right: 0;
  top: 64px;
  min-height: 100vh;
  width: calc(100% - 300px);
  color: var(--mainTextColor);
  z-index: 99;
}
.searchResult h2.error {
  -webkit-text-fill-color: #eb3a4b;
}

@media (max-width: 991px) {
  .landing .landing__content,
.landing .searchResult {
    position: relative;
    width: 100%;
    z-index: 99;
  }
  .sideBarParent {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .sideBarParent.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .sideBarParent .openDashbord {
    display: flex;
  }
  .searchResult li {
    width: 95%;
  }
}
@media (min-width: 992px) {
  .navbar form {
    flex-basis: 60%;
  }
}
@media (max-width: 765px) {
  .searchResult h2 {
    width: 100% !important;
    padding-left: 20px;
  }
}
@media (min-width: 351px) and (max-width: 520px) {
  .search h1 {
    font-size: 35px;
  }
  .search h3 {
    font-size: 24px;
  }
}
@media (max-width: 350px) {
  .search h1 {
    font-size: 30px;
  }
  .search h3 {
    font-size: 22px;
  }
}
.registration .form-container {
  min-height: calc(100vh - 64px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/landing.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}
.registration .form-container .form {
  -o-border-image: linear-gradient(to right, #43b8fe, #e684ae) 30;
     border-image: linear-gradient(to right, #43b8fe, #e684ae) 30;
  box-shadow: radial-gradient(at 50% 0, black, transparent 70%), linear-gradient(0deg, black, transparent 50%) bottom;
  box-shadow: 0 0 6px 1px #43b8fe, 0 0 7px 2px #e684ae;
  box-shadow: 0 0 2px 2px #e684ae, 0 0 3px 2px #43b8fe;
  background: transparent;
}
.registration .controls a {
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.registration .controls a.active,
.registration .controls a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.registration .controls a.active,
.registration .controls a:hover {
  background: linear-gradient(to right, #e684ae, #e684ae);
}
.registration .controls a {
  border-top: 4px solid #e684ae !important;
}
.registration__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e684ae;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 0;
}
.registration .form-group {
  margin-bottom: 2rem;
}
.registration .form-control:focus {
  background-color: transparent;
  color: white;
}
.registration button[type=submit] {
  background: #e684ae;
}
.registration button[type=submit]:hover {
  background: #e684ae;
}
.registration input:focus ~ label,
.registration input:not([value=""]) ~ label {
  margin-bottom: 1.5rem;
  font-size: 13px;
  transition: 0.5s;
  color: white !important;
}/*# sourceMappingURL=general.css.map */